/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.centered-3-4 {
  width: 75%;
  margin: 10px auto;
}

.centered-4-5 {
  width: 80%;
  margin: 10px auto;
}

.almost-full-table {
  width:96%;
}

table th {
  text-align: left;
}